$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  font-family: "Arvo";
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(/images/background/page.jpg);
  background-size: cover;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  /* Make the masthead heading the same height as the navigation */
  h2{
    color: #fff;
  }
  h3 {
    text-transform: uppercase;
    color: #eee;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  text-align: center;
  padding-top: 19px;
  color: #eee;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
  &.doe{
    background-image: url(/images/background/doe.jpg);
    background-size:cover;

    h1{
      color: #fff;
      margin-top: 3em;
    }
    h1, .lead{
      font-weight: bold;
      background-color: #fff;
      background-color: rgba(0, 0, 0, .9);
      border-radius: 5px;
    }

    .btn-success{
      color: #333;
      background-color: #FFFA55;
      border:none;
    }
  }
}

.section{
  font-size: 1.2em;
  margin: 1em 0;
  padding: 2em 1em;
  border-radius: 5px;
  color: #222;
}
.about{
  background-color: #fff;
}
 .marketing{
   background-color: #f5f5f5;
 }

 .footer{
   color: #333;
   background-color: #fff;
 }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
